body{
	
}

ul.fotos { 
	width: 970px; 
	margin: 25 10 0px 10px; 
	
}

ul.fotos li { 
	display: inline; /*establece el tipo de la caja que genera cada elemento de todos los elementos*/
}

ul.fotos a { 
	display: inline; 
	float: left; /*un elemento puede ser empujado hacia la izquierda o hacia la derecha,  utiliza muy a menudo para las imÃĄgenes*/
	margin: 15 15 15px 15px; /*margenes*/
	width: auto; 
	/*padding: 10px 10px 15px; */
	text-align: center; 
	color: #333; 
	font-size: 18px; 
	-webkit-box-shadow: 10 3px 6px rgba(0,100,100,.25); 
	-webkit-transform: rotate(2deg); 
	//-webkit-transition: -webkit-transitionform .25s linear;
}

ul.fotos img { 
	display: block; 
	width: 190px; 
	margin-bottom: 12px; 
}

ul.fotos a:after { 
	content: attr(title); 
}

ul.fotos li:nth-child(3n) a { 
	-webkit-transform: none; 
	position: relative; 
	top: -5px;  
	
}

ul.fotos li:nth-child(5n) a { 
	-webkit-transform: rotate(-5deg); 
	position: relative; 
	right: 15px;  	
}

ul.fotos li a:hover { 
	-webkit-transform: scale(1.25);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
	position: relative;	
}